* {
    margin: 0;
    padding: 0;
    border: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Rose', cursive;
}